// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  .splash {
    display: block;
    width: 100%;
  }

  section {
    background: var(--dark);
    color: var(--light);
    padding: 2em;
  }

  .container {
    margin: auto;
  }

  p {
    text-align: center;
    font-size: 1rem;
  }

  svg {
    height: 1em;
    width: 1em;
    fill: var(--light);
  }
}
