// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  .splash {
    display: block;
    width: 100%;
  }

  section {
    background: var(--dark);
    color: var(--light);
    padding: 3em;
  }
}
