.post-link {
  display: inline-flex;
  align-items: center;
  margin-bottom: 2em;

  & svg {
    width: 1.5em;
    height: 1.5em;
  }

  .icon-link {
    stroke: var(--highlight);
    margin-right: 1em;
  }
}
