.blog {
  & h2 {
    margin-top: 50px;
  }

  & ul {
    list-style: none;
    padding-left: 0;

    & li {
      margin-left: 0;
      margin: 1em 0;
      display: flex;
      line-height: 1.5em;
      flex-direction: column-reverse;

      @include media('>medium') {
        align-items: center;
        flex-direction: row;
      }

      a {
        display: inline-flex;
        width: fit-content;
        align-items: center;
      }

      a:link,
      a:visited {
        text-decoration: none;
        border-bottom: 2px solid rgba(#ff007e, 0.3);
      }

      a:focus,
      a:hover,
      a:active {
        border-bottom: 2px solid var(--highlight);
      }

      & span {
        font-size: 1.2rem;
        opacity: 0.6;

        @include media('>medium') {
          margin-left: 0.5em;
        }
      }
    }
  }

  .layout-icon {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    stroke: var(--highlight);
  }
}
