.masthead {
  margin: auto;
  display: grid;
  grid-template-rows: 2fr 1fr;

  &_about {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;

    & h2 {
      margin: 0;
      align-self: flex-start;
    }

    & p {
      margin-top: 0.25em;
    }

    a {
      text-decoration: none;
    }
  }

  &_contact {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    $inactive-fade: 0.6;
    $active-fade: 1;

    @include media(">650px") {
      grid-template-columns: repeat(4, 1fr);
    }

    & svg {
      fill: var(--light);
      color: var(--light);
      width: 2em;
      height: 2em;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      border-bottom: 0;
    }

    a:focus svg,
    a:hover svg {
      // fill: var(--highlight);
      cursor: pointer;
    }

    li {
      margin: 0;
      padding: 0;
      transition: background-color 0.4s;
    }

    &_email {
      $brand: rgb(81, 32, 234);
      background-color: rgba($brand, $inactive-fade);

      &:hover {
        background-color: rgba($brand, $active-fade);
      }
    }

    &_email {
      $brand: rgb(81, 32, 234);
      background-color: rgba($brand, $inactive-fade);

      &:hover {
        background-color: rgba($brand, $active-fade);
      }
    }

    &_github {
      $brand: rgb(0, 0, 0);
      background-color: rgba($brand, $inactive-fade);

      &:hover {
        background-color: rgba($brand, $active-fade);
      }
    }

    &_twitter {
      $brand: rgb(29, 161, 242);
      background-color: rgba($brand, $inactive-fade);

      &:hover {
        background-color: rgba($brand, $active-fade);
      }
    }

    &_discord {
      $brand: rgb(88, 101, 242);
      background-color: rgba($brand, $inactive-fade);

      &:hover {
        background-color: rgba($brand, $active-fade);
      }
    }
  }

  p {
    margin-bottom: 0;
  }
}

.blog-link {
  padding: 1.5em;
  text-align: right;
  display: block;
  border-top: 4px solid var(--highlight);

  // Prevent screenshift on hover
  border-bottom: 0;
}

.recent-posts {
  @include media(">small") {
    margin-top: 4em;
  }

  header {
    margin-bottom: 2em;
  }

  h2 {
    margin: 0;
    font-size: 2rem;

    @include media(">small") {
      font-size: 2.5rem;
    }
  }

  .rss {
    fill: var(--dark);
    color: var(--dark);
    width: 1.75em;
    height: 1.75em;
  }

  a {
    text-decoration: none;
    border-bottom: 0;
  }

  a:focus .rss,
  a:hover .rss {
    fill: var(--highlight);
    cursor: pointer;
  }
}
