.opengraph {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 628px;
  padding: 4.5rem;
  font-weight: 500;

  & header {
    font-family: "IBM Plex Mono";
    font-size: 1.75rem;
  }

  h1 {
    font-size: 5.125rem;
    color: var(--highlight);
    margin: 0;
    line-height: 110%;

    &.constrained {
      font-size: 4rem;
      line-height: 150%;
    }
  }

  footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    line-height: 100%;

    h2 {
      font-size: 3rem;
      margin-top: 0;
      line-height: 100%;
    }

    & img {
      border-radius: 50%;
    }

    .opengraph_meta {
      margin-left: 2.5em;
    }

    & svg {
      fill: currentColor;
      margin-right: 1em;
      width: 2.5rem;
      height: 2.5rem;
    }

    & ul {
      font-size: 1.75rem;
      padding-left: 0;
      margin: 0;
      list-style: none;
      font-family: "IBM Plex Mono";

      & li {
        display: flex;
        align-items: center;
      }
    }
  }
}
