@import "tailwindcss";

@layer base {
	/* :root {
		--color-dark: #1e2235;
		--color-light: #f6f8ff;
		--color-highlight: #ff007e;
		--color-link: oklch(54% 0.25 260);
	}

	@supports (color: color(display-p3 1 1 1 / 1)) {
		:root {
			--color-dark: color(display-p3 0.12 0.13 0.21 / 1);
			--color-light: color(display-p3 0.96 0.97 1 / 1);
			--color-highlight: color(display-p3 1 0 0.492 / 1);
		}
	} */
}

@theme {
	--font-mono:
		var(--font-berkeley), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;

	/* TODO: RENAME TO THEME */
	--color-dark: oklch(26% 0.04 277);
	--color-light: oklch(98% 0.01 269);
	--color-highlight: oklch(66.59% 0.3018840772950374 4.255646284110876);
	--color-link: oklch(54% 0.25 260);

	--color-brand-blue: rgb(0, 100, 230);
	--color-brand-light: oklch(78.69% 0.219 35.88);
	--color-brand: oklch(68.69% 0.219 35.88);
	--color-brand-dark: oklch(58.69% 0.219 35.88);

	--font-display: var(--font-dm-serif);
}

html {
	tab-size: 2;
	hanging-punctuation: first last;
}

li > ol,
li > ul {
	margin-left: 2rem;
}

p > code {
	text-wrap: wrap;
}

.counter-reset {
	counter-reset: count 0;
	list-style-type: none;
}

.counter-increment {
	counter-increment: count 1;
}

.counter-content::before {
	content: "0" counter(count) !important;
}

.filter-subtle-blur {
	filter: blur(20px) opacity(0.4);
}

/**
 * MDX helpers for GFM
 */

.footnotes {
	margin-top: 4rem;
}

.footnotes::before {
	display: block;
	content: "";
	width: 100%;
	border-top: 1px solid black;
	padding-top: 1rem;
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

code {
	counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
	content: "";
	display: inline-block;
	width: 1rem;
	margin-right: 2rem;
	text-align: right;
	color: gray;
}

code[data-line-numbers] > [data-line]::before {
	counter-increment: line;
	content: counter(line);
}

code[data-line-numbers-max-digits="2"] > [data-line-numbers]::before {
	width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line-numbers]::before {
	width: 3rem;
}

.diff.add {
	background-color: rgba(68, 187, 119, 0.2);
}

.diff.add[data-line]::before {
	color: #4b7;
	counter-increment: line 1;
	content: "+";
}

.diff.remove {
	background-color: rgba(238, 62, 62, 0.2);
}

.diff.remove[data-line]::before {
	color: #ee3e3e;
	content: "-";
}

code > [data-highlighted-line] {
	background-color: rgba(68, 119, 187, 0.2);
}

code > [data-highlighted-chars] {
	background-color: rgba(68, 119, 187, 0.2);
}

/**
 * Blog post styling
 */

article {
	counter-reset: section;
}

article > h1 {
	@apply mt-4 mb-12 w-full text-center text-xl uppercase;
}

article > h1 a {
	&:after {
		content: "↗";
		display: inline-block;
		margin-left: 0.5rem;
	}
}

article > h2 {
	counter-increment: section;
	counter-reset: subsection;
}

article > h2::before {
	content: counters(section, "") ". ";
}

article > h2,
article > h3 {
	margin-left: -2ch;
	font-weight: 600;
}

/*article > :not(h1, h2, h3) {
	margin-left: 2ch;
}*/

article > h3 {
	counter-increment: subsection;
}

article > h3::before {
	content: counters(section, "") "." counters(subsection, "") ". ";
}

article > iframe {
	@apply mb-4;
}

article > ul ol,
article > ul ul,
article > ol ol,
article > ol ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}

article > ol > li:has(ol, ul),
article > ul > li:has(ol, ul) {
	margin-bottom: 1rem;
}
