.alert {
  background: var(--dark);
  color: var(--light);
  padding: 1.5em;
  margin: 2em;

  border-radius: 8px;
  position: relative;

  &_icon {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--light);
    border-radius: 50%;
    transform: translate(40%, -50%);
    line-height: 1;
    padding: 0.5em;

    svg {
      fill: var(--dark);
      height: 2em;
      width: 2em;
    }
  }

  h4 {
    font-size: 1.75rem;
    margin-top: 0.25em;
  }

  &_content {
    font-size: 1rem;

    & p:first-child {
      margin-top: 0;
    }
  }
}
