.bookmarks {
  section {
    border-top: 1px solid var(--light);
    padding-top: 20px;
    margin-top: 20px;
  }

  &-entrylist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  &-entry {
    background: var(--dark);
    filter: brightness(200%);
    color: var(--light);

    &_full {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    a {
      filter: brightness(50%);
      display: block;
      color: var(--light);
      padding: 20px;
      text-decoration: none;

      &:hover,
      &:focus {
        border-bottom: 0;

        svg {
          transform: translateX(0.3em);
        }
      }
    }

    & header {
      display: flex;
      flex-direction: row;

      & h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 26px;
        width: 100%;
        padding-right: 50px;
      }

      & svg {
        transition: transform 0.2s;
        width: 20px;
        height: 20px;
        margin-top: 3px;
      }
    }
  }
}
