@keyframes copying {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clipboard {
  transition: opacity 500ms ease-in-out;
  will-change: opacity;
  position: absolute;
  top: 20px;
  right: 16px;
  z-index: 2;
  cursor: pointer;
  display: inline-block;

  background: none;
  border: none;
  cursor: pointer;

  &:hover:not(&_notification) {
    color: var(--highlight);
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &_notification {
    animation: copying 700ms ease-in-out;
  }
}
