.entry {
  margin-bottom: 3em;

  & h4 {
    font-size: 2rem;
    line-height: 1.4;
    margin: 0;
  }

  & p {
    font-size: 1.25rem;
    margin-top: 0;
  }

  & svg {
    width: 1em;
    height: 1em;
  }

  .icon-link {
    stroke: var(--highlight);
  }
}

.entry-link {
  & > h4 > a {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 0.5em;
  }
}
