.page-title {
  margin-top: 50px;

  .breadcrumb {
    font-size: 1.8rem;
    display: block;
    font-family: 'IBM Plex Mono';

    a:link,
    a:visited {
      text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration: underline;
    }
  }

  a {
    line-height: 1;
    border-bottom: 0;
  }

  h1 {
    margin-top: 0;

    & a {
      font-size: 4.8rem;
      margin: 15px 30px 0 0;
    }
  }
}
