// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

:root {
  --dark: #1e2235;
  --light: #f6f8ff;
  --highlight: #ff007e;

  --prism-default: #fafbfc;
  --prism-keyword: #ff0078;
  --prism-string: #50e3c2;
  --prism-function: #2ba8ff;
  --prism-punctuation: #efefef;
  --prism-comment: #999;
  --prism-attr: #fac863;
  --prism-property: #fff;

  @include dark-mode {
  }
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1 / 1)) {
  :root {
    --dark: color(display-p3 0.12 0.13 0.21 / 1);
    --light: color(display-p3 0.96 0.97 1 / 1);
    --highlight: color(display-p3 1 0 0.492 / 1);
  }
}

::selection {
  background-color: var(--dark);
  color: var(--light);
}

/**
 * Configure box model: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Theme
 */
body {
  // background-color: hsl(210, 21, 95);
  background-image: url("/header.svg") no-repeat;

  // Have to manually do dark mode checks on the body element since the
  // dark-mode mixin would double nest the `body` tag
  @media (prefers-color-scheme: dark) {
    &:not(.light) {
      // background-color: hsl(210, 21, 5);
    }
  }

  &.dark {
    // background-color: hsl(210, 21, 5);
  }
}

/**
 * Push footer to bottom
 */
html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-flow: column;
}

main {
  margin: auto;
  width: 80%;

  @include media(">small") {
    padding: 2em;
  }
}

a {
  text-underline-offset: 3px;
  color: var(--highlight);

  &:hover {
    border-bottom: 1px solid var(--highlight);
  }
}

hr {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--highlight);
  margin-top: 3em;
  margin-bottom: 3em;

  &::after {
    content: "";
    position: absolute;
    top: -1em;
    left: 50%;
    display: block;
    margin-left: -1.5em;
    width: 1px;
    height: 2em;
    background: var(--highlight);
    box-shadow: 0 0 0 0.75em var(--light);
    transform: rotate(45deg);
  }
}

table {
  width: 100%;
  margin-top: 2em;
  text-align: left;
}

thead {
  font-weight: 700;
  border-bottom: 1px solid #333;
}

tr {
  border-bottom: 1px solid #333;
}

tbody td {
  padding: 0.75em;
}

tbody td:first-child {
  padding-left: 0;
}

tbody td:last-child {
  padding-left: 0;
}
