/**
 * Basic typography style for copy text
 */

html {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: "Inter";
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.25em;
  line-height: 2rem;
}

blockquote {
  border-left: 2px solid var(--highlight);
  padding-left: 1em;
}

cite {
  display: block;
  font-weight: 400;
  text-align: right;
}

h1 {
  font-size: 2.75rem;
  line-height: 1;
  margin-bottom: 1em;
}

h2 {
  font-size: 2rem;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.75rem;
  margin-top: 1.5em;
  margin-bottom: 0.3em;
}

h4 {
  margin-top: 1.5em;
  margin-bottom: 0.3em;
}

img {
}

ol,
ul {
  font-size: 1.25rem;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

ol > li,
ul > li {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

b,
strong {
  font-weight: 700;
}
